.box1 {
  width: 70px;
  height: 40px;
  padding: 40px 60px 70px 30px;
  background-color: yellow;
  border: 5px solid black;
}
.box2 {
  width: 70px;
  height: 40px;
  padding: 40px 60px 70px 30px;
  background-color: rgb(71, 170, 76);
  border: 10px solid rgb(54, 209, 229);
  margin-left: 169.5px;
}
.box3 {
  width: 70px;
  height: 40px;
  padding: 40px 60px 70px 30px;
  background-color: rgb(34, 60, 231);
  border: 10px solid rgb(220, 42, 18);
  margin-left: 347.5px;
}
